__pycache__/
/venv/
jobscript.sh
slurm-*.out
/CORFPushPull/contour_detection_from_python.asv
/runtime_data/
/data/cache/backup/
/data/cache/clean_images/
/data/cache/noisy_images/
/data/cache/clean_images_corf_maps/
/data/cache/noisy_images_corf_maps/
/data/cache/f_mnist_clean_test.pkl
/data/cache/f_mnist_clean_train.pkl
/data/cache/f_mnist_noise_test.pkl
/data/cache/f_mnist_noise_train.pkl
/utils/copy_data.bat
